<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern Details</title>
</head>
<body>
    <h1>Intern Details</h1>
    <ul>
        <% for (let intern of interns) { %>
            <li><%= intern.firstName %> <%= intern.lastName %> - <%= intern.email %></li>
        <% } %>
    </ul>

    <h1>Internship Records</h1>
    <ul>
        <% for (let record of records) { %>
            <li><%= record.hours_completed %> hours completed</li>
        <% } %>
    </ul>

    <h1>Feedback</h1>
    <ul>
        <% for (let feedback of feedbacks) { %>
            <li><%= feedback.feedback_text %> - <%= feedback.feedback_date %></li>
        <% } %>
    </ul>
</body>
</html>
