<!DOCTYPE html>
<html lang="en">
<head>
    <title>OJT Student - Work Track</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_client.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="left-manager">
        <div class="client-task">
            <li class="work">
                <a href="/intern_profile">Profile</a>
            </li>
            <li class="work">
                <a href="/intern_worktrack">Work Track</a>
            </li>
            <li class="work">
                <a href="/intern_documents">Documents</a>
            </li>
        </div>
    </div>
    <div class="content">
        <h1>Welcome to Your Work Track</h1>

        <br>
        <br>


        <h2>Current Date and Time</h2>
        <p id="currentDateTime"></p> 

        
        <h2>Records</h2>
        <table border="1">
            <tr>
              <th>Record ID</th>
              <th>Intern ID</th>
              <th>Adviser ID</th>
              <th>Program ID</th>
              <th>Administrator ID</th>
              <th>Hours Completed</th>
              <th>Hours Remaining</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Record Status</th>
            </tr>
            <% data.forEach(record => { %>
                <tr>
                  <td><%= record.record_id %></td>
                  <td><%= record.intern_id %></td>
                  <td><%= record.adviser_id %></td>
                  <td><%= record.program_id %></td>
                  <td><%= record.administrator_id %></td>
                  <td><%= record.hours_completed %></td>
                  <td><%= record.hours_remaining %></td>
                  <td><%= record.start_date %></td>
                  <td><%= record.end_date %></td>
                  <td><%= record.record_status %></td>
                </tr>
              <% }); %>
            
          </table>
//jeus

    <script>
        // JavaScript code to display current date and time
        window.onload = function() {
            const dateTimeElement = document.getElementById('currentDateTime');
            const currentDate = new Date();
            const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric' };
            const formattedDate = currentDate.toLocaleDateString('en-US', options);
            dateTimeElement.textContent = `Current Date and Time: ${formattedDate}`;
        };
    </script>

</body>
</html>